:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --error-color: red;
    --datatable-color: #E1E1E1;
    --datatable-dark-cell-color: #f8f8f8;
    --message-border-color: #1E88E5;
    --message-background-color: #E3F2FD;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;

    background-color: beige;

    scroll-behavior: smooth;
}

h1, h2, h3 {
    margin: 0.3rem auto;
    text-align: center;
}

.field {
    margin: 1rem auto;
    width: 80vw;
    height: 80vh;
}

#plotly {
    display: none;
}

.info > div {
    font-style: italic;
    text-align: center;
}

.arrows {
    margin-top: 15px;
    text-align: center;
}

.arrows.disabled {
    display: none;
}

.next,
.prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}

.next.disabled,
.prev.disabled {
    opacity: .25;
    pointer-events: none;
}

.disabledInput {
    display: none;
}

.methods .methodsTitle,
.functions .functionsTitle {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.methods > ul,
.functions > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.methods li,
.functions li {
    line-height: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 0 1rem;
    padding: 0 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.methods .active,
.functions .active {
    cursor: pointer;
    background-color: rgba(75, 192, 192, 1);
    color: bisque;
}

.methods li:hover,
.functions li:hover {
    cursor: pointer;
    background-color: rgba(75, 192, 192, 1);
    color: bisque;
    transform: translateY(-5px);
}

/* form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

/* slider */

.slider {
    background-color: red;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: rgba(75, 192, 192, 1);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffd88d;
    cursor: pointer;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 1rem;
    color: bisque;
    background-color: rgba(75, 192, 192, 1);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:focus {
    outline: none;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* datatable */
.datatable table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.datatable td, .datatable th {
    border: 1px solid var(--datatable-color);
    padding: 0.5em;
    font-size: 0.8rem;
    overflow: hidden;
}

.datatable tbody tr:nth-child(2n-1) {
    background-color: var(--datatable-dark-cell-color);
}

.result {
    margin: 1rem auto;
}

.result > div {
    display: flex;
    justify-content: center;
}